body{
background-color: gray;
}

.h1{
    text-align: center;
    color: rgb(47, 73, 66);
    padding: 5px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: solid rgb(25, 37, 34);
    background-image: url("https://c.tadst.com/gfx/600x337/chicago-twilight.jpg?1");
    border-radius: 20px;
    font-family: "Lucida Console", Courier, monospace;
}
.h2{
    color: rgb(159, 170, 167);
    text-align: center;
    padding: 5px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: solid rgb(25, 37, 34);
    background-image: url("https://i.pinimg.com/564x/89/c4/67/89c467fc057ce788dc149452af5cd827.jpg");
    border-radius: 20px;
    font-family: "Lucida Console", Courier, monospace;
}
.info{
    font-family: Arial, Helvetica, sans-serif;
    color: pink;
    font-size: 23px;

}
.img {

    width: 500px;
    height: 250px;
    position: absolute;

    right: 10px;
}